#section1
{
	background-color: #222222;
	color:white;
	height:41px;
	line-height: 41px;
}
.grey
{
	color:#888888;
}
.orange
{
	color: #FFB300;
}
#section1 a i:hover
{
	color:#FFB300;
}
a
{
	color:#888888;
}
.line
{
	border-right: 1px solid #444444;
}
#section2
{
	background:url(images/header_line.png) repeat-x 0px 0px;
	background-color: #333;
	height: 150px;
	color: white;
	padding-top:2.3em;

}
.large_icon
{
	font-size: 3em;
}
.medium_icon
{
	font-size: 1.8em;
}
.title
{
	font-size: 1.2em;
	color: #f2f2f2;
	display: block;
	width: 100%;
}
.sub_title
{
	font-size: 1.2em;
	color: #eeeeee;
	font-weight: bold;
}
.toll_free
{
	font-size: 1.3em;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.phone
{
	font-size: 3.5em;
	font-family: 'Oswald', sans-serif;
	width: 100%;
}
.section3
{
	height: 60px;
}
.search_box
{
	background-color: #FFB300;
	height: 70px;
}
.navbar-nav li a
{
	height: 70px;
	line-height: 40px;
	border-top: 4px solid white;
}

.navbar-nav li a:hover
{
	background-color: white;
	color: #888888;
	border-top: 4px solid #FFB300;
}
.center
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#section4
{
	height: 871px;
}
#section5
{
	background-color: #FFB300;
	height: 100px;

}
.sec5_txt
{
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin-top: 35px;
	color: #333;
}
#section5 .btn:hover
{
	background-color: #FFB300;
	color: black;
}
#section5 .btn-primary
{
	background-color: black;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 18px;
	
}
#section5 .btn
{
	margin-left: auto;
	margin-right: auto;
	margin-right: 100px;
}
#section6
{
	background-color:#f3f3f3 !important; 
	padding-top: 100px;
	height: 770px;
	
}
#section6 h4
{
	color: #333;
	padding-top: 10px;
}

#section6 p
{
	color: #777;
	font-size: 16px;

}
#section6 .row i:hover
{	
	line-height: 10px;
	border-bottom: solid 3px #f3f3f3 !important;
}
#section7
{
	background-color: #333333 !important;
	height: 2050px;
}
.dem_class
{
	background-color: #FFB300;
	padding: 10px;
	text-align:center;
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	margin-top: -1px;
	color: white;
	font-size: 17px;
	font-weight: bold;
	padding-top: 12px;
	padding-bottom: 15px;
}
#section8
{
	background-color: #ffd200 !important;
	height: 400px;
}

.ic_size
{
	padding-top: 20px;
	font-size: 35px;
	padding-right: 20px;
	color: #333;

}
.arrow-up {
  width: 0; 
  height: 0; 
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-bottom: 20px solid  #333333 !important;
}

#section7 .left_border
{
	float: left;
    width: 71px;
    margin-top: 22px;
    height: 10px;
    border-bottom: solid 3px #FFB300;
}
#section10 .left_border
{
	float: left;
    width: 71px;
    margin-top: 22px;
    height: 10px;
    border-bottom: solid 3px #FFB300;
}
.right_border
{
	float: right;
    width: 70px;
    height: 10px;
    border-bottom: solid 3px #FFB300;
}
#section7 img
{
	width: 100%;
}
#section7 .btn-primary
{
	background-color: #FFB300;
	color: #333333 ;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #333333;
	margin-top:18px;
	width: 100%;
	margin-bottom: 60px;	
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#section7 .btn:hover
{
	
	border: 2px solid #FFB300;
	background-color: #333333;
	color: #FFB300;
	
}
.sec_8_title
{
	    font-family: 'Raleway', sans-serif;
	    font-size: 55px;
	    font-weight: bold;
	    color: black;
}

#section10
{
	background-color: #f3f3f3;
	padding-top: 100px;
	padding-bottom: 150px;
}
#section10 p
{
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}
#section11
{
	background-color: #333;
	height: 420px;

}
#section11 .sec11_div
{
	font-family: 'Montserrat';
	text-align:center;
	font-size: 30px;
	color: white;
	border-bottom: 3px solid #FFB300;
	border-top: 3px solid #FFB300;
	margin-bottom: 20px;

}
#section11 i
{
	color: #ffd200;
	font-size: 26px;
	padding-bottom: 10px;
}
#section11 .col-md-10
{
	padding-top: 5px;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}
#section12 .sec11_div
{
	font-family: 'Montserrat';
	text-align:center;
	font-size: 30px;
	color:#333;
	border-left: 3px solid #FFB300;
	border-right: 3px solid #FFB300;
	margin-bottom: 20px;

}
#section13 .sec_13_txt
{
	font-size: 50px;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-top: 70px;
}

#section14
{
	background-color: #f3f3f3;
}
#section14 .sec14_div
{
	color: #333;
	font-size: 48px;
	font-family: 'Oswald';
	text-align:center;
}
#section14 .left_border
{
	float: left;
    width: 71px;
    margin-top: 29px;
    height: 10px;
    border-bottom: solid 3px #FFB300;
}
#section14 .sec_14_txt_save
{
	font-size: 55px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	color: black;
	text-align:center;
	margin-top: 50px;

}
#section15
{
	background-color: #333333;
}
#section15 .left_border
{
	float: left;
    width: 71px;
    margin-top: 29px;
    height: 10px;
    border-bottom: solid 3px #FFB300;
}
.sec15_div
{
	font-size: 50px;
	color: white;

}
.sec7_div
{
	font-size: 45px;
	color: white;

}
.sec10_div
{
	font-size: 52px;
	color: #333;

}
.sec_15_txt
{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 55px;
	font-weight: bold;
	text-align:center;

}
#section16
{
	background-color: #eef0f1 ;
}
#section16 .left_border
{
	float: left;
    width: 71px;
    margin-top: 29px;
    height: 10px;
    border-bottom: solid 3px #FFB300;
}
#section17 .left_border
{
	float: left;
    width: 71px;
    margin-top: 29px;
    height: 10px;
    border-bottom: solid 3px #FFB300;
}
.sec16_div
{
	text-align:center;
	font-size: 48px;
}
.sec_16_icon
{
	font-family: 'Raleway', sans-serif;
}
.sec17_div
{
	text-align:center;
	font-size: 50px;
}
.sec_16_icon i
{
	background-color: #FFB300;
	font-size: 25px;
	border-radius: 500px;

}
.sec_16_txt
{
	margin-top: 3px;
	padding-bottom: 15px;
}
.sec_18_txt
{
	font-size: 55px;
	color: white;
	text-align: center;
	font-weight: bold;
}
.sec18_txt
{
	font-size: 44px;
	color: white;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}
#section19
{
	background-color:#f3f3f3;
}
#section19 .left_border
{
	float: left;
    width: 71px;
    margin-top: 29px;
    height: 10px;
    border-bottom: solid 3px #FFB300;
}
.sec19_txt
{
	font-size: 40px;
	color: #333;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	margin-top: 110px;

}

#section19 p
{
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	color: black;
}

#section20
{
	background-color: #222222;

}
#section20 a
{
	text-decoration: none;
}
#section20 ul li
{
	text-decoration: none;
	
	display: inline-block;
}
#section20 ul li a i
{
	height: 47px;
	width: 47px;
	text-align:center;
	display: block;
	margin-right: 10px;
}
#section20 i
{
	color: #9e9e9e;
	border: 1px solid #383838;
	padding-top: 12px;
	font-size: 20px;
	
}
.fb i:hover
{
	background-color: #0733b7;
	color: white;
}
.tw i:hover
{
	background-color: #56c6ef;
	color: white;
}

.you i:hover
{
	background-color: red;
	color: white;
}
.gp i:hover
{
	background-color: #ff5d00;
	color: white;
}
.dr i:hover
{
	background-color: #ff00ff;
	color: white;
}
.ins i:hover
{
	background-color: #135bc6;
	color: white;
}
.pin i:hover
{
	background-color:red;
	color: white;
}

.fl i:hover
{
	background-color: #e26cd1;
	color: white;
}
#section20 p a
{
	color: #FFB300;
}
#section20 p a:hover
{
	color: black;
}